.content-main {
    background-color: beige;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.each-endpoint {
    width: 100%;
}

.each-endpoint button {
    border: solid 1px black;
    background-color: plum;
    padding: 1vh;
    transition: 0.5s;
}

.each-endpoint button:hover {
    transform: scale(1.05);
    background-color: black;
    color: plum;
}

.each-endpoint button:active {
    background-color: plum;
    border-color: plum;
    transform: scale(0.99);
    transition: 0.1s;
}

.data-row {
    padding: 0.5vh;
    margin: 0.5vh 0vh;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    transition: 0.5s;
}

.data-row:hover {
    transform: scale(1.05);
}
    
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}